* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.cc-email-error,
.cc-name-error {
  font-size: 12px;
  color: #f64343;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cc-form-section {
  background: #f9f9f9;
  width: 1170px;
  height: 943px;
}

.cc-form-section .cc-mini-nav {
  height: 50px;
}

.cc-form-section .cc-mini-nav p {
  font-size: 14px;
  padding-right: 5rem;
  padding-top: 1.7rem;
}

.cc-form-section .cc-form-container {
  height: calc(100% - 50px);
}

form {
  width: 478px;
  height: 35rem;
}

form div {
  position: relative;
  border: 1px solid #ededed;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  margin: 20px 0 20px 0;
}

form div .cc-placeholder {
  position: absolute;
  font-size: 14px;
  top: 11px;
  left: 20px;
  color: gray;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form div i {
  position: absolute;
  font-size: 14px;
  top: 16px;
  right: 1rem;
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form select {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0 2.5rem 0 1.2rem;
}

form input[type='text']:focus:invalid,
form input[type='password']:focus:invalid,
form input[type='email']:focus:invalid,
form select:focus:invalid {
  border: 1px solid #f64343;
}

form .cc-select {
  padding-right: 1rem;
}

form .cc-select select {
  color: grey;
  font-size: 14px;
}

form button {
  border: none;
  border-radius: 5px;
  width: 480px;
  height: 50px;
  background: #ededed;
  color: #bab9b9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cc-hero-section {
  width: 630px;
}

.cc-move-placeholder {
  position: absolute;
  top: -10px;
  left: 18px;
  font-size: 12px;
  background: #f9f9f9;
  padding: 0 0.3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cc-active {
  background: #286efa;
  color: #fff;
}

.fa-eye {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fa-eye:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #f64343;
}
