* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cc-error {
  font-size: 12px;
  color: #f64343;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cc-form-section {
  background: #f9f9f9;
  width: 1170px;
  height: 943px;
}

.cc-form-section .cc-mini-nav {
  height: 50px;
}

.cc-form-section .cc-mini-nav p {
  font-size: 14px;
  padding-right: 5rem;
  padding-top: 1.7rem;
}

.cc-form-section .cc-form-container {
  height: calc(100% - 50px);
}

form {
  width: 478px;
  height: 35rem;
}

form div {
  position: relative;
  border: 1px solid #ededed;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  margin: 20px 0 20px 0;
}

form div .cc-placeholder {
  position: absolute;
  top: 11px;
  left: 20px;
  color: gray;
}

form div i {
  position: absolute;
  font-size: 14px;
  top: 16px;
  right: 1rem;
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form .cc-select {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0 2.5rem 0 1.2rem;
}

form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus,
form .cc-select:focus {
  -webkit-box-shadow: 0 0 5px #f64343;
          box-shadow: 0 0 5px #f64343;
}

form button {
  border: none;
  border-radius: 5px;
  width: 480px;
  height: 50px;
  background: #ededed;
  color: #bab9b9;
}

.cc-hero-section {
  width: 630px;
}

.cc-move-placeholder {
  position: absolute;
  top: -10px;
  left: 18px;
  font-size: 12px;
  background: #f9f9f9;
  padding: 0 .3rem;
}
