// ".cc- represents the customized class so as to differentiate them from the bootstrap classes in the HTML structure."

$primaryColor: #286efa;
$secondaryColor: #ededed;
$tertiaryColor: #f64343;
$whiteShade: #f9f9f9;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.cc-email-error,
.cc-name-error {
  font-size: 12px;
  color: $tertiaryColor;
}

main {
  //   border: 1px solid red;
  display: flex;
}

.cc-form-section {
  //   border: 1px solid #fff;
  background: $whiteShade;
  width: 1170px;
  height: 943px;

  .cc-mini-nav {
    //   border: 1px solid red;
    height: 50px;

    p {
      font-size: 14px;
      padding-right: 5rem;
      padding-top: 1.7rem;
    }
  }

  .cc-form-container {
    // border: 1px solid red;
    height: calc(100% - 50px);
  }
}

form {
  // border: 1px solid green;
  width: 478px;
  height: 35rem;

  div {
    // border: 1px solid red;
    position: relative;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    margin: 20px 0 20px 0;

    .cc-placeholder {
      position: absolute;
      font-size: 14px;
      top: 11px;
      left: 20px;
      color: gray; //bad practice
      transition: all 0.5s ease;
    }

    i {
      position: absolute;
      font-size: 14px;
      top: 16px;
      right: 1rem;
    }
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  select {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0 2.5rem 0 1.2rem;

    &:focus:invalid {
      border: 1px solid $tertiaryColor;
      //   box-shadow: 0 0 5px $tertiaryColor;
    }
  }

  .cc-select {
    padding-right: 1rem;

    select {
      color: grey;
      font-size: 14px;
    }
  }

  button {
    border: none;
    border-radius: 5px;
    width: 480px;
    height: 50px;
    background: $secondaryColor;
    color: rgb(186, 185, 185);
    transition: all 0.3s ease;
  }
}

.cc-hero-section {
  //   border: 1px solid #fff;
  width: 630px;
}

// border placeholder//////////
.cc-move-placeholder {
  position: absolute;
  top: -10px;
  left: 18px;
  font-size: 12px;
  background: #f9f9f9;
  //   color: $tertiaryColor;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.cc-active {
  background: $primaryColor;
  color: #fff;
}

.fa-eye {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    color: $tertiaryColor;
  }
}
